<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hello.sense" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="is.hello.sense.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="is.hello.sense.permission.C2D_MESSAGE" />

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="is.hello.sense" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".SenseApplication">

        <activity
            android:name=".ui.activities.LaunchActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.OnboardingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Onboarding"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.QuestionsActivity"
            android:label="@string/label_new_question"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.DebugActivity"
            android:label="@string/activity_debug"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Underside" />

        <activity
            android:name=".ui.activities.SensorHistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:theme="@style/AppTheme.Underside" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:theme="@style/AppTheme.Underside" />

        <activity
            android:name=".ui.activities.SmartAlarmActivity"
            android:label="@string/action_alarm"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:theme="@style/AppTheme.Underside" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".notifications.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="is.hello.sense" />
            </intent-filter>
        </receiver>

        <activity
            android:name="net.hockeyapp.android.UpdateActivity" />
        
        <activity
            android:name="net.hockeyapp.android.FeedbackActivity" />

        <meta-data android:name="com.crashlytics.ApiKey" android:value="f464ccd280d3e5730dcdaa9b64d1d108694ee9a9"/>

    </application>

</manifest>
