<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="is.hello.sense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".SenseApplication"
        android:supportsRtl="false">

        <activity
            android:name=".ui.activities.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.onClick.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.OnboardingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Onboarding"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SensorHistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activities.HomeActivity" />

        <activity
            android:name=".ui.activities.SmartAlarmDetailActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <action android:name="android.intent.onClick.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.SessionLogViewerActivity"
            android:label="Session Log"
            android:parentActivityName=".ui.activities.HomeActivity" />

        <activity
            android:name=".ui.fragments.VideoPlayerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/AppTheme.NoActionBar.Black" />

        <activity
            android:name=".ui.common.FragmentNavigationActivity"
            android:parentActivityName=".ui.activities.HomeActivity" />

        <activity
            android:name=".ui.activities.HardwareFragmentActivity"
            android:parentActivityName=".ui.activities.HomeActivity" />
        <activity
            android:name=".ui.activities.SleepSoundsListActivity"
            android:parentActivityName=".ui.activities.HomeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="85d0ec0c255e061ee72fb2992bda94d0"/>

    </application>

</manifest>