<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    package="is.hello.sense"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SenseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>

        <activity
            android:name=".ui.activities.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.onClick.SHOW_ALARMS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".flows.home.ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".flows.timeline.ui.activities.TimelineActivity"
            android:label="@string/action_timeline"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.activities.OnboardingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Onboarding"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activities.PillUpdateActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".flows.settings.ui.activities.AppSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Onboarding"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activities.SenseUpgradeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".flows.settings.ui.activities.AppSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Onboarding"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".flows.sensordetails.ui.activities.SensorDetailActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".flows.smartalarm.ui.activities.SmartAlarmDetailActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM"/>
                <action android:name="android.intent.onClick.SET_ALARM"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activities.SessionLogViewerActivity"
            android:label="Session Log"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".ui.fragments.VideoPlayerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:theme="@style/AppTheme.NoActionBar.Black"/>

        <activity
            android:name=".ui.common.FragmentNavigationActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".flows.settings.ui.activities.AppSettingsActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".ui.activities.HardwareFragmentActivity"
            android:parentActivityName=".flows.settings.ui.activities.AppSettingsActivity"/>

        <activity
            android:name=".ui.activities.ListActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>

        <activity
            android:name=".flows.expansions.ui.activities.ExpansionSettingsActivity"
            android:label="@string/expansion_list_title"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"
            android:theme="@style/AppTheme.Expansions"/>

        <activity
            android:name=".flows.voice.ui.activities.VoiceSettingsActivity"
            android:label="@string/voice_settings_title"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"
            android:theme="@style/AppTheme.Expansions"/>

        <activity
            android:name=".flows.voicecommands.ui.activities.VoiceCommandActivity"
            android:parentActivityName=".flows.home.ui.activities.HomeActivity"/>


        <activity
            android:name=".flows.expansions.ui.activities.ExpansionValuePickerActivity"
            android:parentActivityName=".flows.smartalarm.ui.activities.SmartAlarmDetailActivity"
            android:theme="@style/AppTheme.Expansions"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            xmlns:tools="http://schemas.android.com/tools"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FacebookTheme"
            tools:replace="android:theme"/>

        <service
            android:name=".bluetooth.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="85d0ec0c255e061ee72fb2992bda94d0"/>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID"/>

    </application>

</manifest>