<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- PARTIAL -->

    <permission android:name="is.hello.sense.debug.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="is.hello.sense.debug.permission.C2D_MESSAGE" />

    <application>

        <activity
            android:name="is.hello.sense.debug.PiruPeaActivity"
            android:screenOrientation="portrait"
            android:label="Piru-Pea" />

        <receiver
            android:name="is.hello.sense.notifications.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="is.hello.sense.debug" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
