<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- PARTIAL -->

    <application>

        <activity
            android:name="is.hello.sense.debug.EnvironmentActivity"
            android:theme="@style/AppTheme.Dialog.Simple"/>

        <activity
            android:name="is.hello.sense.ui.activities.DebugActivity"
            android:label="@string/activity_debug"
            android:launchMode="singleTop"/>

        <activity
            android:name="net.hockeyapp.android.UpdateActivity"/>

        <activity
            android:name="net.hockeyapp.android.FeedbackActivity"/>

        <activity
            android:name="is.hello.sense.debug.PiruPeaActivity"
            android:label="Piru-Pea"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.mixpanel.android.MPConfig.ResourcePackageName"
            android:value="is.hello.sense"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID"/>

    </application>

</manifest>
